
#wpskillz-quiz-answers {}

.wpskillz-answer-choices {
	list-style-type: upper-alpha;
	list-style-position: inside;
	margin-left: 0;
}

.wpskillz-answer-choices li {
	padding: 6px 6px 6px 24px;
	border: 1px dashed lightgray;
	border-radius: 3px;
	text-indent: -18px;
	margin-bottom: .25em;
}

.wpskillz-answer-choices li p:first-child {
	display: inline;
}

a.answer-text {
	text-decoration: none;
	color: inherit;
}

.wpskillz-answer-choices li:hover, li.chosen {
	background: whitesmoke; border-style: solid; border-color: lightgray;
}

.correct { color: green; }
.incorrect { color: red; }


li.correct, li.correct:hover { background: lightgreen; border-color: green; }
li.answer-list.chosen { text-decoration: line-through; }
li.answer-list.chosen.correct { text-decoration: none; }

a.next-question {
	font-size: 110%;
	padding: 6px 24px;
	background: lightgreen;
	border: 1px dashed gray;
	border-radius: 3px;
	margin-bottom: 2em;
}

div.login-box {
	padding: 2em;
	background: lightgray;
	font-size: 80%;
	color: #222;
	margin-bottom: 1.625em;
}

div.login-box p {
	margin: 0;
}

.already-done {
	color: saddlebrown;
	font-style: italic;
}

.answer-explanation {
	background: beige;
	border: 1px solid orange;
	color: #333;
	padding: 1em;
	margin-bottom: 1.625em;
}

.answer-explanation p:last-child {
	margin-bottom: 0;
}
