
#wpskillz-quiz-answers {}

.wpskillz-answer-choices {
	list-style-type: upper-alpha;
	list-style-position: inside;
	margin-left: 0;
}

.wpskillz-answer-choices li {
	padding: 3px 6px 3px 24px;
	border: 1px dashed #efefef;
	border-radius: 3px;
	text-indent: -18px;
	margin-bottom: .25em;
}
.wpskillz-answer-choices li:hover, li.chosen {
	background: #efefef; border-style: solid; border-color: #ccc;
}

.correct { color: green; }
.incorrect { color: red; }

li.correct { background: lightgreen; border-color: green; }
